option_settings:
    aws:elbv2:listener:443:
        DefaultProcess: https
        ListenerEnabled: 'true'
        Protocol: HTTPS
        SSLCertificateArns: arn:aws:acm:eu-west-2:175437885081:certificate/2f140ea9-e427-4b47-9af2-cd3e85719d45
    aws:elasticbeanstalk:environment:process:https:
        Port: '80'
        Protocol: HTTPS
        HealthCheckPath: /health-check
