option_settings:
    aws:elbv2:listener:default
        ListenerEnabled: 'true'
    aws:elbv2:listener:443:
        ListenerEnabled: 'true'
        Protocol: HTTPS
        SSLCertificateArns: arn:aws:acm:eu-west-2:175437885081:certificate/2f140ea9-e427-4b47-9af2-cd3e85719d45
    aws:elasticbeanstalk:environment:process:default:
        DeregistrationDelay: '20'
        HealthCheckInterval: '15'
        HealthCheckPath: /health-check
        HealthCheckTimeout: '5'
        HealthyThresholdCount: '3'
        UnhealthyThresholdCount: '5'
        Port: '80'
        Protocol: HTTP
        StickinessEnabled: 'false'
